html {
    scroll-behavior: smooth;
}


#about-main{
    width: 100%;
    padding: 5%;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
}
/*CSS for staff cards */

.staff-container {
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
    gap: 20px; 
    padding: 20px; /* Adds space around the cards and wrap means cards will wrap on next line */
}


.staff-card {
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 22%; 
    min-width: 200px; 
    transition: transform 0.3s ease; /* Smooth hover effect*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds shadow to the cards for contrast */
}


.staff-card:hover {
    transform: scale(1.05); /* Enlarge the card on hover */
}

/* Images */

.staff-img {
    width: 100%;
    height: auto;
    border-radius: 50%; /* Soften the edges a bit */
}


.i-staff{
    font-size: 1.5em;
    color:black;
    margin: 0.3em;
}

@media (max-width: 900px) {
    .staff-card {
        width: 45%; /* Two per row */
    }
}

@media (max-width: 600px) {
    .staff-card {
        width: 100%; /* Stack the cards on smaller screens */
    }
}



